@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@layer base {
  :root {
    --color-bg: #212529;
    --color-border: #90e0ef;
    --color-primary: #CED4DA;
    --color-primary-active: #03045e;
    --color-secondary: #00b4d8;
    --color-secondary-active: #0096c7;
    --color-text: #fff;
    --color-muted: #24557d;
    --color-surface: #e8fbff;
    --color-surface-alt: #e8fbff;
  }

  body {
    margin: 0;
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-bg);
    font-family: "Hanken Grotesk", "Inter", sans-serif;

  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p{
    font-family: "Hanken Grotesk", "Inter", sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@theme {
  --color-app: #caf0f8;
  --color-ui-0: #f8f9fa;
  --color-ui-1: #e9ecef;
  --color-ui-2: #dee2e6;
  --color-ui-3: #ced4da;
  --color-ui-4: #adb5bd;
  --color-ui-5: #6c757d;
  --color-ui-6: #495057;
  --color-ui-7: #343a40;
  --color-ui-8: #212529;

  --color-surface-soft: #f8f9fa;
  --color-surface-muted: #e9ecef;
  --color-text-subtle: #6c757d;
  --color-text-strong: #212529;
}

@layer components {
  .app-shell {
    background-color: var(--color-bg);
    color: var(--color-text);
  }

  .panel-solid {
    border: 1px solid var(--color-border);
    border-radius: 0;
    background: var(--color-surface);
  }

  .panel-dashed {
    border: 1px dashed var(--color-border);
    border-radius: 0;
    background: var(--color-surface-alt);
  }

  .eyebrow-tag {
    border: 1px solid var(--color-border);
    background: #fff;
    color: var(--color-primary);
    border-radius: 0;
  }

  .muted-copy {
    color: var(--color-muted);
  }
}
